<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Login - TaskSchedular</title>
</head>
<body>
    <form method="POST">
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        
        <label for="password">Password:</label>
        <input type="text" name="password" required>

        {% if error %}
        <p class="error">{{error}}</p>
        {% endif %}

        <input type="submit" value="Login">
        <p>Don't have an account? <a href="{{ url_for('register') }}">Please Register</a></p>
    </form>
</body>
</html>